<!DOCTYPE html>
<html lang="en">

<head>
    <title>系统管理-角色管理-添加</title>
    <#include "../include/header.html">
    <style>
        label{padding-right: 0;padding-top: 6px}
    </style>
</head>
	
<body style="width: 90%">
    <form class="form-horizontal" role="form" style="margin-top: 20px" id="defaultForm">
        <input hidden="" name="id" v-model="role.id">
        <div class="form-group">
            <label class="col-xs-4 control-label text-right" for="role_type">角色：</label>
            <div class="col-xs-6">
                <input class="form-control" id="role" type="text" placeholder="角色" name="role_type" v-model="role.role_type"/>
            </div>
        </div>             
        <div class="form-group">
            <label class="col-xs-4 control-label text-right" for="remark" style="padding-top: 0">备注：</label>
            <div class="col-xs-6">
                <textarea class="form-control" id="remark" name="remark" v-model="role.remark"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-4 control-label" for="v"></label>
            <div class="col-xs-6">
                <button id="submit" type="button" class="btn btn-11" @click="save">　保存　</button>
            </div>
        </div>
    </form>
    
    <script type="text/javascript">
    // 角色对象
    var role1 = ${role!"{}"};
    </script>
    <script src="../../../js/system/role_detail.js"></script>
</body>
</html>
